# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual Environment
.venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Alembic
alembic/versions/__pycache__/
